.line-wrapper {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 14px;
  font-size: 14px;
  padding: 3px 0;
  white-space: pre;
  min-width: fit-content;
  &.focus {
    background-color: bisque;
  }
  &:focus {
    outline: none;
  }
}
