#container {
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: aliceblue;
  overflow: auto;
  position: relative;
  > .cursor {
    position: absolute;
    width: 1.6666px;
    height: 14px;
    background-color: black;
    top: 0px;
  }
}
canvas {
  display: none;
}
