@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");
#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333444;
  overflow: auto;
  position: relative;
  > .cursor {
    position: absolute;
    width: 2px;
    height: 26px;
    background-color: #cdcdcd;
  }
}
canvas {
  display: none;
}
